<!doctype html>
<!--HTML의 내용은 <tag>로 시작해서 </tag>로 끝난다.-->
<html xmlns:th="http://www.thymeleaf.org">
<!--head에는 기본적인 라이브러리 import와 페이지에 대한 정보 그리고 들어간다-->
<head>
    <!-- Required meta tags -->
<!--    이 파일에 대한 정보-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!--    외부 CSS(스타일 요소)-->
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

<!--    웹 페이지 타이틀-->
    <title>Books</title>
</head>

<!--Body에는 우리가 보는 내용이 나온다..-->
<body>
<!--div, nav a button등은 tag라 하고 마다 기능이 다르다.-->
<!--div는 가장 기본적인 tag로 하위 html을 담는 그릇이다.-->
<!--class는 해당 항목에 사전에 정의된 스타일 속성을 부여한다. -->
<!--container class는 전체 레이아웃을 맞춰주는 역할을 한다.-->
<div class="container">
<!--    nav는 네비게이션 바-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Books</a>
        <form class="form-inline my-2 my-lg-0" action="/books" method="get">
            <input name="name" class="form-control mr-sm-4" type="search" placeholder="이름, 저자, 출판사 검색" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">검색</button>
        </form>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!--id는 해당 요소(element)의 식별자로 javascript나 다른데서 가져올떄 쓴다-->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="navbar-nav mr-auto">
            </div>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#">내 서재</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">결제 정보</a>
                </li>
            </ul>
        </div>
    </nav>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="nav-link" href="javascript:click()">소설</a>
        <span class="nav-link" onclick="click()">자기개발</span>
        <span class="nav-link" onclick="click()">경제</span>
        <span class="nav-link" onclick="click()">IT</span>
        <span class="nav-link" onclick="click()">만화</span>
    </nav>
    <div class="row">
        <div class="col-md-3" th:each="book: ${books}">
            <div class="card" style="width: 18rem;">
                <img th:src="${book.imgSrc}" class="card-img-top" alt="book">
                <div class="card-body">
                    <h5 class="card-title" th:text="${book.name}">Card title</h5>
                    <p class="card-text" th:text="${book.author} + ' 저'">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a class="btn btn-primary" th:href="'/books/'+${book.isbn}" >보러가기</a>
                </div>
            </div>
        </div>
    </div>
    <form action="/sample/form" method="post">
        <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>

        <div class="custom-control custom-radio">
            <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input" value="radio1">
            <label class="custom-control-label" for="customRadio1">Toggle this custom radio</label>
        </div>
        <div class="custom-control custom-radio">
            <input type="radio" id="customRadio2" name="customRadio" class="custom-control-input" value="radio2">
            <label class="custom-control-label" for="customRadio2">Or toggle this other custom radio</label>
        </div>
        <input type="hidden" name="hidden" value="hiddenValue">

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
<script>
    function click() {
        alert("자기개발");
    }
</script>
</body>
</html>